# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
venv/
ENV/
env/
.env/
.venv/

# IDE files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Project-specific directories
origin/
origin/*.py
harnesses
verification
reports
coreHTTP/
demo

# ChromaDB files
.chroma/
*_collection/

# CBMC intermediate files
*.out
*.log
*.err
*.trace
*.goto

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Jupyter Notebook
.ipynb_checkpoints

# Distribution / packaging
*.manifest
*.spec

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# API keys and secrets
.env.secret

# Temporary files
temp/
tmp/

# Frontend / Next.js specific
# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# next.js
frontend/.next/
frontend/out/
frontend/.vercel/

# production
frontend/build

# misc
frontend/.DS_Store
frontend/*.pem

# debug
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# local env files
frontend/.env*.local

# typescript
frontend/*.tsbuildinfo
frontend/next-env.d.ts

# Turborepo
.turbo

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*